################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Elevate.Dashboard/Elevate.Dashboard/bin
/Elevate.Dashboard/Elevate.Dashboard/obj/Debug
